.vs/Vezu-Vaziuoju/v16/Server/sqlite3/db.lock
.vs/Vezu-Vaziuoju/v16/Server/sqlite3/storage.ide
.vs/Vezu-Vaziuoju/v16/Server/sqlite3/storage.ide-shm
.vs/Vezu-Vaziuoju/v16/Server/sqlite3/storage.ide-wal
Vezu-Vaziuoju/App_Data/aspnet-Vezu-Vaziuoju-20200405053154.mdf
Vezu-Vaziuoju/App_Data/aspnet-Vezu-Vaziuoju-20200405053154_log.ldf
